

.header{
    display:flex;
    justify-content: space-between;
    margin:20px;
    color:white;
}

#btn1{
    padding: 0 30px;
    height: 40px;
    font-family: "Montserrat";
    color: #662D91;
    font-weight: 700;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    background-color:white;
}

#btn1:hover:hover {
    color: #FFFFFF;
    background-color: #662D91;
}

.loginform{
    background-color: white;
    width:505.76px;
    height:400px;
    margin:0px auto;
    margin-top:60px;
    border-radius: 8px;  
    padding: 40px; 
    text-align: center; 
}

label{
    text-align: left;
    padding: 0px 0px 4px 4px;
}

.inputxt{
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 80%;
    position: relative;
}

.txt{
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #e7e4e4;
    padding: 10px;
    outline-style:none;
}

.logbtn{
    width: 339px;
    height: 52px;
    border-radius: 8px;
    outline-style: none;
    background-color: #49B65B;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.forget{
    margin-top: 29px;
    text-decoration: underline;
}

.eyeimg{
    width:20px;
    height:20px;
    position: absolute;
    top:65%;
    transform:translateY(-50%);
    right: 4%;
}



